@media (min-width: 768px) {
    .widgets {
        display: flex;
        background-color: #1e9c42;
        align-content: center;
    }
}

.body {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.message {
    background-color: aquamarine;
    padding: 1em;
    margin: 1em;
}

.input>label {

    display: inline-block;
    width: 15em;
    padding: 0.5em;
    margin: 0.5em;
    font-weight: bold;
}

.input>input[type="text"] {
    padding: 0.5em;
    margin: 0.5em;
    font-weight: bold;
}
 
.widget {
    flex: 1;
    border: 1px solid lightgrey;
    margin: 0.5em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: rgb(85, 147, 85);
}

